<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainer Helper</title>
</head>
<body>
<a href="/clients"> Clients   </a>
<p>  </p>
<a href="/employees"> Employees </a>
<p>  </p>
<a href="/savedLessons"> Saved Lessons </a>
<p>  </p>
<a href="/signUp"> Sign up for lesson </a>

<table border="1" cellspacing="0">
    <th colspan="9"> Schedule </th>
    <tr>
        <th>Hours</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
    </tr>
    <tr th:each="lesson: ${groupLesson}">
        <td th:text="${lesson.getHour()}"></td>
        <td> <a th:text="${lesson.getKindOfLesson()}" th:href="@{/lessonDetails(id=${lesson.getId()})}"></a> </td>
        <td> <a th:text="${lesson.getKindOfLesson()}" th:href="@{/lessonDetails(id=${lesson.getId()})}"></a> </td>
        <td> <a th:text="${lesson.getKindOfLesson()}" th:href="@{/lessonDetails(id=${lesson.getId()})}"></a> </td>
        <td> <a th:text="${lesson.getKindOfLesson()}" th:href="@{/lessonDetails(id=${lesson.getId()})}"></a> </td>
        <td> <a th:text="${lesson.getKindOfLesson()}" th:href="@{/lessonDetails(id=${lesson.getId()})}"></a> </td>
    </tr>
</table>
</body>
</html>