<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainer Helper</title>
</head>
<body>
<a href="/clients"> Clients   </a>
<p>  </p>
<a href="/employees"> Employees </a>
<p>  </p>
<a href="/signUp"> Sign up for lesson </a>
<h1>Schedule</h1>
<table>
    <tr>
        <th>Lesson ID</th>
        <th>Lesson</th>
        <th>Date</th>
    </tr>
    <tr th:each="lesson: ${groupLessons}">
        <td th:text="${lesson.getId()}"></td>
        <td> <a th:text="${lesson.getLesson()}" th:href="@{/lessonDetails(id=${lesson.getId()})}"></a> </td>
        <td th:text="${lesson.getDate()}"></td>
    </tr>
</table>
</body>
</html>