<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson Details</title>
</head>
<body>
<h1>Lesson Details</h1>
<table>
    <tr>
        <th>Lesson ID</th>
        <th>Instructor</th>
        <th>Lesson</th>
        <th>Date</th>
    </tr>
    <tr>
        <th th:text="${groupLesson.get()}"> </th>
    </tr>
</table>

<h1>Registered Clients</h1>
<table>
    <tr>
        <th>ID</th>
    </tr>
    <tr th:each="clients: ${saveLessonData}">
        <td th:text="${clients.getClientData()}"></td>
    </tr>
</table>
</body>
</html>

