<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Sign up</title>
    <style>
        .table-hover tbody tr:hover td,
        .table-hover tbody tr:hover th{
            background-color: aquamarine;
        }

        .login-container{
            display: block;
            width: 20%;
            height: 20%;
            background-color: lavender;
            border-radius: 15px;
            position: absolute;
            top: 20%;
            left: 40%;
        }

        .border{
            border-radius: 15px;
        }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="text-center" style="background-image: url(imiges/swimming.jpg); background-repeat: no-repeat; background-size: cover;">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-info" style="background-color: lavender">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/home"> Home </a></li>
            <li class="nav-item active"><a class="nav-link" href="/clients"> Students </a></li>
            <li class="nav-item active"><a class="nav-link" href="/employees"> Instructors </a></li>
            <li class="nav-item active"><a class="nav-link" href="/savedLessons"> Saved Lessons </a></li>
            <li class="nav-item active"><a class="nav-link" href="/signUp"> Sign up for lesson </a></li>
        </ul>
    </div>
</nav>

<p>

</p>

<div class="login-container">
<h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
<form class="form-group" action="#" th:action="@{/signUp}" th:object="${saveLessonData}" method="post">
    <label class="control-label" th:for="*{groupLessonData}">Lesson ID</label>
    <input class="border" type="number" max="8" th:field="*{groupLessonData}"/></p>
    <p class="py-1 text-center"> Client ID <input class="border" type="number" max="6" th:field="*{clientData}"/>
    <p > <input class="border"  type="submit" value="Sumbit"/> <input class="border" type="reset" value="Reset"/></p>
</form>
</div>
</body>
</html>