<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Trainer Helper Application</title>
</head>
<body>
<h1> Trainer Helper </h1>

<table border="1" cellspacing="0">
    <tr>
        <th colspan="6"> Schedule </th>
    </tr>

    <tr>
        <th rowspan="6"> Hours </th>
        <th> Mon </th>
        <th> Tue </th>
        <th> Wed </th>
        <th> Thu </th>
        <th> Fri </th>
    </tr>

    <tr>
        <td> Swimming </td>
        <td> Zumba </td>
        <td> Yoga </td>
        <td> Synchronized Swimming </td>
        <td> BallRoom Dancing </td>
    </tr>

    <tr>
        <td> Healthy Spine </td>
        <td> Zumba </td>
        <td> Swimming </td>
        <td> Synchronized Swimming </td>
        <td> Yoga </td>
    </tr>

    <tr>
        <td> Zumba </td>
        <td> Yoga </td>
        <td> Healthy Spine </td>
        <td> Synchronized Swimming </td>
        <td> Swimming </td>
    </tr>

    <tr>
        <td> Healthy Spine </td>
        <td> Zumba </td>
        <td> Swimming </td>
        <td> Swimming </td>
        <td> Yoga </td>
    </tr>

    <tr>
        <td> Yoga </td>
        <td> Zumba </td>
        <td> Swimming </td>
        <td> Healthy Spine </td>
        <td> Zumba </td>
    </tr>

</table>

</body>
</html>